
.container{
    width:1000px ;
    height: 500px;
    margin: 0 auto;
    background-color:white;
    box-shadow: 4px 4px 4px grey;
    
}
.top{
    background-color:cornflowerblue;
    width: 1000px;
    height: 100px;
    
}
.img{
  
    border-radius: 50%; 
    padding-top: 40px;
    margin-left: 10px;
}
.doc{
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;

}
.edit{
    margin-left: 20px;

}